@{
    ViewData["Title"] = "Home Page";
}
<div id="Enter" class="center enter panel">
    <label class="panel-title">Play as Guest</label>
    <input class="inputText" type="text" id="playerName" maxlength="12" value="@Context.Request.Cookies["playerName"]" placeholder="Имя игрока" required />
    <input class="commit-button" type="submit" value="Go!" style="margin: 10px 0.5rem 1rem 0.5rem;" onclick="Enter(playerName.value)" />
    <label class="error" id="WrongPlayerName" hidden="hidden" style="margin: 0 0.5rem 1rem 0.5rem;">Указанное имя не подходит</label>
</div>


<div id="Main" class="main center" hidden="hidden">
    <div>
        <h5 class="main-title">Игроки OnLine</h5>
    </div>
    <div>
        <h5 class="main-title">Правила</h5>
    </div>
    <div class="players">
        <table class="table-striped">
            <thead>
                <tr style="position:sticky;">
                    <th>
                        <label style="margin: 0.5rem;">Имя</label>
                    </th>
                    <th width="25%">
                        <input class="inputText" style="float:right" type="text" id="nameFilter" value="" placeholder="имя..." oninput="FilterPlayerNames(this.value)" />
                    </th>
                </tr>
            </thead>
            <tbody id="PlayerList"></tbody>
        </table>
    </div>

    <div id="GameRules" class="rules">
        <div class="rule-block">
            <p>Используя мышь - рисуй приколы! </p>
            <img src="~/icons/mouse.gif" />
        </div>
        <div class="rule-block">
            <p>На рисование дается - 30 секунд! </p>
            <img src="~/icons/timer.gif" />
        </div>
        <div class="rule-block">
            <p>После рисования - <u>Симуляция</u>! - 1 минута! </p>
            <img style="image-rendering: pixelated; " src="~/icons/glider.gif" />
        </div>

        <div class="rule-block">
            <p>У тебя больше <u>Живых</u> клеток чем у противника? - Ты победил! </p>
            <img src="~/icons/win.gif" />
        </div>

        <div class="rule-block">
            <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%98%D0%B3%D1%80%D0%B0_%C2%AB%D0%96%D0%B8%D0%B7%D0%BD%D1%8C%C2%BB#%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0">Правила выживания! </a>
            <img src="~/icons/finger.gif" />
        </div>

        <div class="rule-block">
            <h4>Успехов и удачи!</h4>
        </div>

    </div>
</div>



<script>

    let hubConnection;

    function Enter(playerName) {

        let formData = new FormData();
        formData.append("playerName", playerName);

        $.ajax(
            {
                url: "/Playground/Enter",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data == 'WrongName') {
                        document.getElementById("WrongPlayerName").hidden = false;
                    }
                    if (data == 'OK') {
                        document.getElementById("WrongPlayerName").hidden = true;
                        Start();
                    }
                }
            }
        );

    }

    function Start() {

        hubConnection = new signalR.HubConnectionBuilder()
            .withUrl('/playground')
            .build();

        hubConnection.on("UpdatePlayerList", function (data) {
            $('#PlayerList').empty();
            $.each(data, function (i, player) {
                if (player.id != hubConnection.connectionId)
                    $('#PlayerList').append("<tr><td style='max-width:0'>" + player.name + " </td><td><input type='button' class='commit-button' style='float:right;' value='Играть'/></td></tr>");
            });
        });

        hubConnection.start().then(function () {
            document.getElementById("Main").hidden = false;
            document.getElementById("Enter").hidden = true;
        });
    }

    function FilterPlayerNames(nameFilter) {
        if (hubConnection != null) hubConnection.invoke("FilterPlayerNames", nameFilter)
    }

</script>