a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background: #4d3131;
    margin: 0;
    min-height: 100%;
}

.center {
    /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.panel {
    background-color: #e2e2e2;
    color: #2f2f2f;
    border-radius: 7px;
}

.panel-title {
    text-align: center;
    background-color: #009688;
    color: #ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    white-space: nowrap;
    padding: 10px;
}

.enter {
    min-width: 250px;
    min-height: 200px;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.invitation {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    z-index: 1;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.4s;
    top: -999px;
}

.invitation-visible {
    top: 0;
}

.error {
    margin: 0.5rem 0 0 0;
    color: #bb3131;
    font-weight: 700;
    text-align: center;
    align-self: center;
    white-space: nowrap;
}

.main {
    background: #c0c0c0;
    width: 90%;
    height: 80%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.main-title {
    text-align: center;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game {
    background: #c0c0c0;
    width: 90%;
    height: 80%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 3fr 1fr;
}

.game-title {
    background: #c0c0c0;
    text-align: center;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ready-row {
    font-size: 2rem;
    text-align: center;
    background: #504040;
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.timer {
    color: whitesmoke;
    padding: 0.4rem;
    border-radius: 3px;
    background: #009688;
    min-width:100px;
    user-select:none;
}

.timer-3 {
    display: flex;
    background: #000e0d9c;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    user-select: none;
}

.field {
    background: #627862;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
    user-select: none;
}


    .field canvas {
        background: rgba(40, 40, 40, 0.4);
        user-select: none;
    }

    .field:nth-child(3n) {
        border-right: 2px solid #c0c0c0;
    }

    .field:nth-child(2n) {
        border-left: 2px solid #c0c0c0;
    }


.grid-background {
    background-image: linear-gradient(#ffffff 0.5px, transparent 0.5px), linear-gradient(to right, #ffffff 0.5px, transparent 0.5px);
    background-size: 35px 35px;
}

.players {
    width: 100%;
    overflow-y: scroll;
    background: #aa9999;
    color: whitesmoke;
}

    .players td, th {
        width: 100%;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .players thead {
        background: #504040;
        position: sticky;
        top: 0;
    }

.rules {
    padding: 10px;
    overflow: auto;
    background: #dadada;
}

.rule-block {
    width: 100%;
    margin: 20px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

    .rule-block p {
        margin: 0.5rem;
    }

    .rule-block img {
        height: 50px;
    }

.commit-button {
    height: min-content;
    user-select: none;
    background: #4990e2;
    color: whitesmoke;
    border-radius: 4px;
    padding: 0.4rem;
    border: 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
}

    .commit-button:hover {
        cursor: pointer;
        background: #1b6ec2;
        color: whitesmoke;
        text-decoration: none;
        box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
    }

    .commit-button:active {
        background: #185694;
    }

    .commit-button:disabled {
        cursor: default;
        height: min-content;
        user-select: none;
        background: #afc9e7;
        color: whitesmoke;
        border-radius: 4px;
        padding: 0.4rem;
        border: 0;
        box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
    }

.delete-button {
    height: min-content;
    user-select: none;
    background: #e24949;
    color: whitesmoke;
    border-radius: 4px;
    padding: 0.4em;
    border: 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
}

    .delete-button:hover {
        cursor: pointer;
        background: #c21b1b;
        color: whitesmoke;
        text-decoration: none;
        box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
    }

    .delete-button:active {
        background: #185694;
    }


.inputText {
    border: 0;
    outline: 0;
    text-align: center;
    margin: 0.5rem;
    background: rgb(188 207 229);
}
